{% extends 'home/home.html.twig' %}

{% block title %}connecter
{% endblock %}

{% block body %}
	<form method="post">
		<center class="container col-10 mt-3 " style="position: relative;right:-180px;">
			<div  >
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté en tant que
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal mt-5">Se connecter</h1>
				<label for="inputEmail" style="float: left;">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
				<label for="inputPassword " style="float: left;">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="checkbox mb-3 mt-3">
					<label>
						<input type="checkbox" name="_remember_me">
						Remember me
					</label>
				</div>


				<button class="btn btn-sm btn-primary mt-3" type="submit">
					Se connecter
				</button>
			</div>
		</center>
	</form>
{% endblock %}
