<title>
	{% block title %}Accueil
	{% endblock %}
</title>

{% block stylesheets %}

	<link rel="stylesheet" href="{{asset('./web/wp-content/cache/min/1/f7439ba9c58103cf0cd1860b698d15e2.css')}}" data-minify="1">

	<link rel="icon" href="{{asset('./web/img/favicon.ico')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style>
		type="text/css" img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 0.07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>

	<link href="{{asset('./web/css.css?family=Ubuntu:400,300,500,700&#038;display=swap')}}" rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
{% block script %}
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script async="" src="{{asset('./web/gtag/js.js?id=UA-18636698-1')}}"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-18636698-1');
	</script>

{% endblock %}
<body class="home" id="uae" class="no-js" style="background-color:#F0F0F0">
	<div class="global">
		<h1 id="marque">
			<div class="logo img">
				<span class="semio">Union des Auto-Entrepreneurs inscription déclaration facture plafond tva</span>
				<img src="./web/wp-content/themes/uae/img/Logo-UAE.png" alt="UAE l auto-entrepreneur autoentrepreneur micro-entrepreneur 2016">

			</div>

			<div class="texte semio">
				Union des
				<span class="semio">Micro-Entrepreneur</span><br>
				<span class="rouge">Auto-Entrepreneurs</span>

			</div>
		</h1>
		<div style="float: right;" class="mr-3">
			<a id="black" href="{{ path('compte') }}">
				<i class="fa fa-user-circle-o" aria-hidden="true"></i>
			</a>
			<a href="{{ path('compte') }}">Mon Compte</a>
		</div>
		<!-- contenu -->
		<div class="contenu" style="height:170%;">
			<div id="vie-ae">


				<div id="menu-principal" style="height:35px;left:0px">
					<ul>
						<li>
							<a href="{{path('home')}}">
								<i class="fa fa-home" aria-hidden="true"></i>
								<span>Accueil</span>
							</a>
						</li>
						<li>
							<a href="{{path('informe')}}">
								<i class="fa fa-info" aria-hidden="true"></i>
								<span>Je m'informe</span>
							</a>
						</li>
						<li>
							<a href="{{path('jeCreate')}}">
								<i class="fa fa-suitcase" aria-hidden="true"></i>
								<span>Je crée</span>
							</a>
						</li>
						<li>
							<a href="{{path('jeGére')}}">
								<i class="fa fa-suitcase" aria-hidden="true"></i>
								<span>Je gére</span>
							</a>
						</li>
						<li>
							<a href="{{path('jeDev')}}">
								<i class="fa fa-key" aria-hidden="true"></i>
								<span>Je développe</span>
							</a>
						</li>
						<li>
							<a href="{{path('Services')}}">
								<i class="fa fa-gears" aria-hidden="true"></i>
								<span>Services</span>
							</a>
						</li>
						<li>
							<a href="{{path('outils')}}">
								<i class="fa fa-gear" aria-hidden="true"></i>
								<span>Outils</span>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-id-card" aria-hidden="true"></i>
								<span>Annuaire</span>
							</a>
						</li>


					</ul>
					<div id="reseaux-sociaux">
						<a href="" class="facebook">
							<span class="socicon">b</span>
						</a>
						<a href="" class="linkedin">
							<span class="socicon">j</span>
						</a>
						<a href="" class="twitter">
							<span class="socicon">a</span>
						</a>
						<a href="" class="mail">
							<span class="awesome">
								<i class="fa fa-envelope"></i>
							</span>
						</a>
					</div>
				</div>

				<div>
					{% block body %}{% endblock %}
				</div>
				<div class="zone-focus menu" >
					<div id="info-focus">
						<a class="focus item-0" href="http://www.union-auto-entrepreneurs.com/actualites/kit-de-survie-de-lauto-entrepreneur-aides-covid-19/">
							<h3 class="titre">
								<i class="fa fa-bullhorn" aria-hidden="true"></i>
								<span>Info Covid 19</span>
							</h3>
							<div class="texte">
								<p>Demande d'aides, fonds de solidarité, droits sociaux, prêt PGE de 3 mois de CA, posez nous vos questions >>></p>
							</div>
						</a>
						<a class="info item-1" href="http://www.union-auto-entrepreneurs.com/lactualite-auto-entrepreneur-uae/">
							<h3 class="titre">
								<i class="fa fa-microphone" aria-hidden="true"></i>
								<span>Tribune
								</span>
							</h3>
							<div class="texte">
								<p>Le Monde : tribune de François Hurel. Bâtissons une protection sociale pour tous les auto-entrepreneurs...>>></p>
							</div>
						</a>
						<a class="info item-2" href="region-corse-auto-entrepreneur/index.htm">
							<h3 class="titre">
								<i class="fa fa-exclamation" aria-hidden="true"></i>
								<span>L’UAE en région Corse</span>
							</h3>
							<div class="texte">
								<p>Une représentation active de l’UAE en Corse,une démarche locale dans un territoire dynamique  >>></p>
							</div>
						</a>
						<a class="info item-3" href="index-5.htm">
							<h3 class="titre">
								<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
								<span>Trouver son code naf...</span>
							</h3>
							<div class="texte">
								<p>Avec l'UAE et Totch, c'est facile de trouver le code NAF de son activité avec le nouvel outil créé : moncodenaf.fr !! >>>>
								</p>
							</div>
						</a>
						<a class="info item-4" href="index-6.htm">
							<h3 class="titre">
								<i class="fa fa-child" aria-hidden="true"></i>
								<span>Le Prix Audace !</span>
							</h3>
							<div class="texte">
								<p>Et... si vous déposiez votre candidature au Prix Audace ? Le seul concours dédié aux auto-entrepreneurs...</p>
							</div>
						</a>
					</div>
				</div>
			</div>


			<!-- Quantcast Tag -->


			<noscript>
				<div style="display:none;">
					<img src="./web/pixel/p-FPNzF4yzF5Ljs.gif" border="0" height="1" width="1" alt="Quantcast">
				</div>
			</noscript>
			<!-- End Quantcast tag -->

		</body>
	</div>
	<script src="{{asset('./web/wp-content/cache/min/1/c029511e7969258f96e230ce886ec645.js')}}" data-minify="1"></script>
</body><!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me - Debug: cached@1597822486 --></body></body></body>
