{% extends "home/home.html.twig" %}
{% block title %}Paiement
{% endblock %}


{% block body %}

	<center class="container col-8" style="position: absolute">

		<div class=' mt-5'>
			<h1 class="h3 mb-3 font-weight-normal ">Declaration et Paiement</h1>
			<div class=' mt-5 border' style="border-radius:25px">
				<p class=' mt-5'>Ma Declaration fait avant :{{date|date("d/m/Y")}}</p>
				<p>Mon Paiement fait avant :{{date|date("d/m/Y")}}</p>


				<div class="col-5">
					{{form_start(form)}}
					{{form_row(form.chiffre,{'label':'Chiffre d\'affaire'})}}
					{{form_row(form.valider)}}
					{{form_end(form)}}
				</div>
			</div>
		</center>
	{% endblock %}
