{% extends 'home/home.html.twig' %}

{% block title %}Facture
{% endblock %}

{% macro niceforme(form) %}
	<div class="row mt-5">
		<div class="col">
			{{form_widget(form.nom)}}
		</div>
		<div class="col">
			{{form_widget(form.description)}}
		</div>
		<div class="col">
			{{form_widget(form.prixU)}}
		</div>
		<div class="col">
			{{form_widget(form.quantite)}}
		</div>
	</div>
{% endmacro %}

{%  import _self as formMacros %}
{% block body %}
	<center class="container mt-2  col-10" style="position: relative;left:300px;top:-500px">

		<div  class="mt-3">
			<h1 class="h3 mb-3 font-weight-normal ">Rédiger une facture</h1>

			<div class="container  fluid  border" style="border-radius: 15px;">
				<div class="mt-5">
					<h1>Facture</h1>
				</div>
				{{ form_start(form) }}
				<div class="row">
					<div class="col">
						{{ form_widget(form.nom) }}
					</div>
					<div class="col"></div>
					<div class="col">
						{{ form_widget(form.factureNb) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.adresse) }}
					</div>
					<div class="col"></div>
					<div class="col">
						{{ form_widget(form.date) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.codeP) }}
					</div>
					<div class="col"></div>
					<div class="col"></div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.telephone) }}
					</div>
					<div class="col"></div>
					<div class="col"></div>
				</div>
				<div class="row mt-5">
					<div class="col">
						{{ form_widget(form.nom2) }}
					</div>
					<div class="col"></div>
					<div class="col"></div>
				</div>
				<div class="row mt-5">
					<div class="col">
						Article
					</div>
					<div class="col">
						Description
					</div>
					<div class="col">
						Taux
					</div>
					<div class="col">Quantité</div>
				</div>
				<div id="exp_list" data-prototype="{{ formMacros.niceforme(form.articles.vars.prototype)|e('html_attr') }}">
					{% for i in form.articles %}

						<div class="panel">
							<div class="panel-body">

								{{ formMacros.niceforme(i) }}

							</div>
						</div>
					{% endfor %}
				</div>

				<div class="row mt-5">
					<div class="col"></div>
					<div class="col"></div>
					<div class="col">{{form_widget(form.montantP)}}</div>
				</div>
				<div class="row mt-3 mb-1">
					<div class="col"></div>
					<div class="col">{{form_row(form.submit)}}</div>
					<div class="col"></div>
				</div>


			</div>

		</div>
		{{ form_end(form) }}
	</center>
	
	<script>
		// this variable is the list in the dom, it's initiliazed when the document is ready
var $collectionHolder;
// the link which we click on to add new items
var $addNewItem = $('<a href="#" class="btn btn-info" style="float: left;">Ajouter</a>');
// when the page is loaded and ready
$(document).ready(function () { // get the collectionHolder, initilize the var by getting the list;
$collectionHolder = $('#exp_list');
// append the add new item link to the collectionHolder
$collectionHolder.append($addNewItem);
// add an index property to the collectionHolder which helps track the count of forms we have in the list
$collectionHolder.data('index', $collectionHolder.find('.panel').length)
// finds all the panels in the list and foreach one of them we add a remove button to it
// add remove button to existing items
$collectionHolder.find('.panel').each(function () {
// $(this) means the current panel that we are at
// which means we pass the panel to the addRemoveButton function
// inside the function we create a footer and remove link and append them to the panel
// more informations in the function inside
addRemoveButton($(this));
});
// handle the click event for addNewItem
$addNewItem.click(function (e) {
// preventDefault() is your  homework if you don't know what it is
// also look up preventPropagation both are usefull
e.preventDefault();
// create a new form and append it to the collectionHolder
// and by form we mean a new panel which contains the form
addNewForm();
})
});
function addNewForm() {
// getting the prototype
// the prototype is the form itself, plain html
var prototype = $collectionHolder.data('prototype');
// get the index
// this is the index we set when the document was ready, look above for more info
var index = $collectionHolder.data('index');
// create the form
var newForm = prototype;
// replace the __name__ string in the html using a regular expression with the index value
newForm = newForm.replace(/__name__/g, index);
// incrementing the index data and setting it again to the collectionHolder
$collectionHolder.data('index', index + 1);
// create the panel
// this is the panel that will be appending to the collectionHolder
var $panel = $('<div class="panel"></div>');
// create the panel-body and append the form to it
var $panelBody = $('<div class="panel-body"></div>').append(newForm);
// append the body to the panel
$panel.append($panelBody);
// append the removebutton to the new panel
addRemoveButton($panel);
// append the panel to the addNewItem
// we are doing it this way to that the link is always at the bottom of the collectionHolder
$addNewItem.before($panel);
}

/**
 * adds a remove button to the panel that is passed in the parameter
 * @param $panel
 */
function addRemoveButton($panel) { // create remove button
var $removeButton = $('<a href="#" class="btn btn-danger" style="float: left;">Effacer</a>');
// appending the removebutton to the panel footer
var $panelFooter = $('<div class="panel-footer"></div>').append($removeButton);
// handle the click event of the remove button
$removeButton.click(function (e) {
e.preventDefault();
// gets the parent of the button that we clicked on "the panel" and animates it
// after the animation is done the element (the panel) is removed from the html
$(e.target).parents('.panel').slideUp(1000, function () {
$(this).remove();
})
});
// append the footer to the panel
$panel.append($panelFooter);
}
	</script>
{% endblock %}
